.col {
    margin: 10px;
    border: 1px solid black;
    height: 100px;
}

#div7 {
    margin-top: 10px;
    border: 1px solid black;
    height: 342px;
    text-align: center;
    /* display: table; */
    /* flex-direction: row; */
}

.inseriti {
    margin-top: 2px;
    border: 1px solid black;
    text-align: center;
    margin-left: 5%;

    display: table-cell;
    /* vertical-align: middle; */
    flex-direction: column;
}

form {
    display: flex;
    margin-top: 2%;
    margin-left: 25%;
}

#btnInserisci { margin-left: 10px; }

#nominativi { margin-top: 20px; text-align: center; }